<html>
   <head>
       <title>Welcome to {{ inventory_hostname }} !</title>
   </head>
   <body>
       <h1>Success! The {{ inventory_hostname }} virtual host is working!</h1>
       <h2> SYSTEM INFO </h2>
       <h4>  ========================= </h4>
       <h3> Operating System : {{ ansible_distribution }} </h3>
       <h3> IP Address : {{ ansible_eth0['ipv4']['address'] }} </h3>
       <h4>  ========================= </h4>
   </body>
</html>